@page
@model IndexModel
@{
    ViewData["Title"] = "Test page";
}

<div class="text-center">
    <h1 class="display-4">Hey</h1>
    <h2 class="display-5">LOL</h2>
    <h3 class="display-6">Welcome</h3>
    <h3 class="display-6">Mamahuevo</h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
